.login-container {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100vw;
    padding: 0 50px;
    box-sizing: border-box;
    overflow: hidden;

    .login-main {
        width: 50%;
        padding-left: 50px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        height: 100%;
        gap: 30px;

        .app-brand {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 10px;

            .app-title {
                font-size: 32px;
                color: #ffffff;
                font-weight: bold;
            }
        }

        .login-headings {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 5px;

            h1 {
                font-size: 32px;
                color: #ffffff;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }

            p {
                color: #cccccc;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }
        }

        .inputs-wrapper {
            display: flex;
            flex-direction: column;
            gap: 30px;


            .input-group {
                position: relative;

                img {
                    width: 20px;
                    height: 20px;
                    position: absolute;
                    top: 30%;
                    left: 15px;
                    font-size: 15px;
                    transition: 0.3s;
                    filter: invert(10) brightness(100%) saturate(0%) contrast(100%);
                    opacity: 0.75;
                }

                input {
                    width: 100%;
                    padding: 16px 150px 16px 50px;
                    border-radius: 6px;
                    border: 1px solid #444;
                    background: #2a2a2a;
                    color: #fff;
                    font-size: 16px;
                }

                label {
                    position: absolute;
                    top: 32%;
                    left: 50px;
                    font-size: 15px;
                    transition: 0.3s;
                    color: #d1d1d1;
                }

                input:focus+label,
                input:not(:placeholder-shown)+label {
                    top: -8px;
                    left: 40px;
                    font-size: 12px;
                    background-color: #222222;
                    padding: 0 4px;
                }

            }
        }

        .btn-box {
            display: flex;
            flex-direction: column;
            margin-top: 10px;
            gap: 5px;

            .forget-password {
                all: unset;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                text-align: center;
            }

            .login-btn {
                width: 100%;
                padding: 10px 172px;
                border-radius: 6px;
                border: 1px solid #444;
                background: #2a2a2a;
                color: #fff;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-weight: 600;
                display: flex;
                justify-content: center;
                align-items: center;
                background: linear-gradient(90deg, #007bff, #00a2ff);
                font-size: 20px;

                &:hover {
                    background: linear-gradient(90deg, #0051ff, #0099ff);
                    cursor: pointer;
                }
            }

            p {
                text-align: center;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

                button {
                    all: unset;
                    color: #007bff;
                }
            }
        }
    }

    .login-bg {
        width: 60%;

        img {
            width: 100%;
        }
    }
}